.device-name{
    font-size:32px;
    margin-left:1vw;
    font-weight: bold;
}
.stats-table{

}
.headings{
    font-weight: 700;
    font-size: 25px;
}
.inner-headings{
    font-weight: 500;
    font-size: 20px;
}
.dropdown{
    width:250px;
}
.col{
    margin:0.5vw;
}
.result-heading{
    font-weight:400;
    margin:1vw;
}